:root {
    --primary-color: #FFF2D6;
    /* 메인색, 크림베이지 */
    --secondary-color: #FAEBCD;
    /* 톤 다운 베이지 (섹션, 백그라운드) */
    --point-color: #5C6E91;
    /* 톤다운블루 (강조 텍스트, 버튼 테두리) */
    --point-fill-color: #3D5A80;
    /* 딥블루 (버튼 채움, 강조템) */
    --hover-color: #EED7A1;
    /* 옅은 머스타드 (호버, 강조 백그라운드) */
    --accent-color: #B38000;
    /* 짙은 머스타드 (아이콘, 강조 텍스트) */

    --background-color: #ffffff;
    /* 백그라운드 */
    --primary-font-color: #1C1C1C;
    /* 제목, 텍스트 */
    --body-color: #333333;
    /* 본문텍스트 */
    --line-color: #dddddd;
    --white-color: #ffffff;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--primary-color);
    color: var(--primary-font-color);
    font-size: 1.6rem;
}

.inner {
    max-width: 141rem;
    margin: 0 auto;
}

.flx {
    display: flex;
}

.flx>* {
    flex: 1;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 0 2.4rem;
    height: 4rem;
    border: 1px solid var(--point-color);
    background: var(--point-fill-color);
}

.btn.btn_web {
    color: var(--white-color);
}

.btn.btn_photo {
    color: var(--point-fill-color);
    background: transparent;
}